*.egg-info/
build/
dist/
__pycache__/
*.pyc

# Ignore common files
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp
*.log

# ignore pycaches
__pycache__/
**/__pycache__/
*.pyc
*.pkl
*.npy
*.mat

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore venv folder
venv/
